<section class="course">
    <ol class="breadcrumb">
        <li><a href="#/">Blog</a></li>
        <li class="active">Administration</li>
    </ol>

    <div class="alert alert-danger" ng-show="message.is_error">{{message.message}}</div>
    <div class="alert alert-success" ng-show="message.is_success">{{message.message}}</div>

    <a href="#/admin/course/create" class="btn btn-success" style="margin-bottom: 15px;">Create a new course</a>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Read</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody> 
            <tr ng-repeat="course in courses">
                <td>{{course.title}}</td>
                <td>{{course.read}}</td>
                <td>{{course.created | date:'medium'}}</td>
                <td>{{course.updated | date:'medium'}}</td>

            </tr>
        </tbody>
    </table>

</section>
