<section class="course">
    <ol class="breadcrumb">
        <li><a href="#/">Course</a></li>
        <li><a href="#/admin">Administration</a></li>
        <li class="active">Create Article</li>
    </ol>

    <form name="EditCourseForm">
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="course.title">
        </div>
        <div class="form-group">
            <label for="textareaContent">Content</label>
            <textarea class="form-control" rows="19" id="textareaContent" ng-model="course.content"></textarea>
        </div>
        <button type="submit" class="btn btn-success" ng-click="save(course, false)">Save</button>
    </form>

</section>
