<section class="course" ng-repeat="course in courses">
    <header class="course-header">
        <h2 class="course-title"><a href="#/course/{{course._id}}">{{course.title}}</a></h2>
        <div class="course-meta"><i class="fa fa-bullseye"></i> Posted on {{course.created | date:'medium'}}</div>


    </header>
    <div class="course-content">

        <a href="#/course/{{course._id}}" class="btn btn-primary">Read More</a>
    </div>
</section>