<section class="course">
    <header class="course-header">
        <img class="course-avatar" alt="Kevin Delemme" height="52" width="52" src="img/avatar.jpg">
        <h2 class="course-title"><a href="#/course/{{course._id}}">{{course.title}}</a></h2>
        <div class="course-meta"><i class="fa fa-bullseye"></i> Posted on {{course.created | date:'medium'}}</div>

    </header>
    <div class="course-content">
        <p ng-bind-html="course.content"></p>
    </div>

</section>